#TopBar { background-color: #1f90d4; overflow: hidden; padding-top: 10px; padding-bottom: 3px; }
#TopBarText { float: left; font-family: 'Open Sans', sans-serif; font-size: 1.25em; font-weight: 300; color: #ffffff; text-transform: uppercase; padding-top: 13px; }
#TopBarPhone { float: right; font-family: 'Open Sans', sans-sreif; font-size: 1.9em; font-weight: 700; color:
 #ffffff; }
#Banner { background-color: #10100e; }
#Services { background-color: #1f90d4; padding-top: 60px; overflow: hidden; padding-bottom: 70px; }
#ServicesIcon { float: left; width: 100%; }
#ServicesTitle { float: left; width: 100%; font-family: 'Oswald' sans-serif; font-size: 2.1em; font-weight: 700; text-align: center; color: #ffffff; margin-top: 10px; margin-bottom: 30px; }
#ServicesPhrase { font-family: 'Oswald' sans-serif; font-size: 2.1em; text-align: center; color: #ffffff; width: 100%; }
#ServiceSubText { font-family: 'Open Sans', sans-serif; font-size: 1.4em; font-weight: 300; color: #ffffff; width: 100%; text-align: center; }
#ServicesLink { text-align: center; float: left; margin-top: 40px; width: 100%; }
.ServicesButton { font-family: 'Open Sans', sans-serif; font-size: 1.1em; font-weight: 400; color: #ffffff; text-transform: uppercase; text-align: center; border: 1px solid #ffffff; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background-color: #065e92; }
.LinkServices { color: #ffffff; text-decoration: none; }
.LinkServices:hover { color: #ffffff; text-decoration: none; }
#FormTitle { font-family: 'Open Sans', sans-serif; font-size: 1.5em; font-weight: 600; color: #393c3d; width: 100%; text-align: center; text-transform: uppercase; margin-top: 45px; margin-bottom: 45px; }
#Footer { background-color: #393c3d; margin-top: 50px; padding-top: 40px; padding-bottom: 40px; }

IMG.displayed { display: block; margin-left: auto; margin-right: auto }
#thankport { text-align: center; margin-top: 60px; font-weight: 300; margin-bottom: 30px; }
#thankbot {padding-top: 40px;}
.mybtn{text-transform: uppercase; color:#ffffff; background-color:#1f90d4; text-align: center; padding: 15px; border-radius: 0px; font-weight: 400;}
.mybtn:hover {text-decoration: none; color: #ffffff; background-color: #065e92;}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
  and (max-device-width : 568px) { #TopBarText { float: left; font-family: 'Open Sans', sans-serif; font-size: 1.25em; font-weight: 300; color: #ffffff; text-transform: uppercase; padding-top: 13px; text-align: center; width: 100%; }
#TopBarPhone { float: left; font-family: 'Open Sans', sans-sreif; font-size: 1.9em; font-weight: 700; color:
 #ffffff; text-align: center; width: 100%; } .TopBarNumberLink { color: #ffffff; } a { color: #ffffff; }  }

/* iPad */
@media only screen 
and (min-device-width : 768px) 
  and (max-device-width : 1024px)  { a { color: #ffffff; } }
